<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Introdução ao Node JS</title>
  </head>
  <body>
    <h1>Página Detalhe</h1>
    <% var texto = "Trabalhando com EJS;" %>
    <p><%= texto %></p>
    <ul>
      <li><%= cliente.nome %> - <%= cliente.email %></li>
    </ul>
  </body>
</html>
